/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
 a{
   text-decoration: none;
   color: #44566c;
 }
 a:hover{
   color: #ccc;
 }
 figure, ul, h1{
   margin: 0;
 }

/* CSS du header */
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;   
}
nav{
  width: 60%;
}
li{
  list-style: none;
  font-size: 1.5em;
}
ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
figcaption{
  color: #fff;
}
/* le top du cv */
#cvtop{
  height: 400px;
  background-color: #1C6868;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
}
#cvtop p{
  max-width: 30%;
  font-size: 4em;
  line-height: 0.1em;
}
#phototop{
  max-width: 30%;
}
#phototop img{
  max-height: 300px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #222;
}
.resosocio a:hover img{
  background-color: #fac564;
}
.resosocio img {
  height: 40px;
  width: 40px;
  background-color: #FEE5B5;
  border-radius: 8px;
  margin-bottom: 20px;
}

/*css de monprojet*/
#monprojet{
  height: 400px;
  width: 100%;
  background-color: #131F22;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.2em;
}
#monprojet figure{
  max-width: 30%;
}
#monprojet img{
  width: 100%;
  max-height: 300px;
  border-radius: 8px;
}
#monprojet article{
  max-height: 100%;
  max-width: 30%;
  color: #fff;
}
#monprojet p{
  width: 100%;
  
}
#monprojet h1{
  color: #fff;
}

/* CSS de la section mes compétences*/
#mescompetences{
  height: 600px;
  background-color: #1C6868;
  color: #fff;
}
#mescompetences h1{
  font-size: 2.5em;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
#mescompetences img{
  height: 100px;
  width: 100px; 
  border-radius: 8px;
}
#mescompetences ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: 200px;
  gap: 50px;
  align-items:center;
  justify-items: center;
}
#mescompetences  li{
  background-color: #131F22;
  height: 100%;
  max-width: 200px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 20px 20px rgba(254, 229, 181, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* CSS de la section mes réalisations*/
#realisations{
  height: 600px;
  background-color: #131F22;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#realisations h1{
  width: 100%;
  color: #fff;
  font-size: 2.5em;
  text-align: center;
 
}
#realisations img{
  max-width: 400px;
  max-height: 400px;
}
#realisations ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

